.vs/
.vscode/
*.dir/
CMakeFiles/
Debug/
Release/
Testing/
Win32/
/include/graphqlservice/IntrospectionSchema.h
/IntrospectionSchema.cpp
/include/TodaySchema.h
/TodaySchema.cpp
*.filters
*.vcxproj
*.vcxproj.user
*.sln
cmake_install.cmake
CMakeSettings.json
CMakeCache.txt
CTestCostData.txt
CTestTestfile.cmake
install_manifest.txt
LastTest.log
lib*.a
lib*.so
Makefile
*.ninja
.ninja_*
schemagen
settings.json
test_today
tests
build
