.vs/
.vscode/
*.dir/
CMakeFiles/
Debug/
Release/
Testing/
Win32/
*.filters
*.vcxproj
*.vcxproj.user
*.sln
cmake_install.cmake
CMakeSettings.json
CMakeCache.txt
CTestCostData.txt
CTestTestfile.cmake
IntrospectionSchema.*
install_manifest.txt
LastTest.log
lib*.so
Makefile
schemagen
settings.json
test_today
tests
TodaySchema.*
