.vs/
.vscode/
*.dir/
CMakeFiles/
Debug/
Release/
Testing/
Win32/
/include/graphqlservice/IntrospectionSchema.h
/IntrospectionSchema.cpp
*.filters
*.vcxproj
*.vcxproj.user
*.sln
cmake_install.cmake
CMakeSettings.json
CMakeCache.txt
CTestCostData.txt
CTestTestfile.cmake
DartConfiguration.tcl
install_manifest.txt
LastTest.log
lib*.a
lib*.so
Makefile
*.ninja
.ninja_*
schemagen
settings.json
/samples/benchmark
/samples/benchmark_nointrospection
/samples/sample
/samples/sample_nointrospection
/src/cmake/
/test/argument_tests
/test/pegtl_tests
/test/response_tests
/test/today_tests
/test/nointrospection_tests
build/
install/
isenseconfig/
